{% set activePage = 'atleten' %}
{% extends 'base.html.twig' %}
{% block content %}
    <section class="section--center flag-container">
        <div class="flag-left">
            <h3 class="section-title">Tymen Gerestein</h3>
            <ul class="list--basic">
                <li>Gewichtsklasse -120kg</li>
                <li>Squat 255kg</li>
                <li>Bench 210kg</li>
                <li>Deadlift 265kg</li>
                <li>Totaal 725kg</li>
            </ul>
            <h4 class="margin-top">Beste prestaties</h4>
            <ul class="list--basic">
                <li>2de plaats NK Raw 2018</li>
                <li>2de plaats NK Raw 2016</li>
                <li>2de plaats WEC Raw 2016</li>
                <li>Best lifter DRC Cup 2015</li>
                <li>1ste plaats NK Raw Bankdrukken 2015</li>
            </ul>
            <p class="margin-top margin-bottom">
                <a class="vertical-aligned" href="https://www.instagram.com/tymboo/" target="_blank">
                    <i class="fa fa-2x fa-instagram"></i>
                    <span class="margin-left-small">Check Tymen op Instagram</span>
                </a>
                <!-- goodlift.info -->
                <a class="vertical-aligned" href="http://goodlift.info/lifter.php?lid=10123" target="_blank">
                    <img src="http://goodlift.info/banners/gl_banner_small_bio.png" alt=""
                         style="width:34px;height:40px;border:0;"/>
                    <span class="margin-left-small">Check Tymen op Goodlift</span>
                </a>
                <!-- goodlift.info -->
            </p>
        </div>
        <img class="flag-left" src="{{ asset('images/atleten/tymen 245.jpg') }}">
    </section>

    <section class="section--center flag-container">
        <div class="flag-left">
            <h3 class="section-title">Erik Smallegange</h3>
            <ul class="list--basic">
                <li>Gewichtsklasse -93kg</li>
                <li>Squat 205kg</li>
                <li>Bench 125kg</li>
                <li>Deadlift 217,5kg</li>
                <li>Totaal 547,5kg</li>
            </ul>
            <h4 class="margin-top">Beste prestaties</h4>
            <ul class="list--basic">
                <li>3de plaats NK Raw Junioren 2016 -105kg klasse</li>
                <li>3de plaats NK Raw bankdrukken 2016 -105kg klasse</li>
            </ul>
            <p class="margin-top margin-bottom">
                <a class="vertical-aligned" href="https://www.instagram.com/erikphm/" target="_blank">
                    <i class="fa fa-2x fa-instagram"></i>
                    <span class="margin-left-small">Check Erik op Instagram</span>
                </a>
            </p>
        </div>
        <img class="flag-right" src="{{ asset('images/atleten/erik.jpg') }}">
    </section>

    <section class="section--center flag-container">
        <div class="flag-left">
            <h3 class="section-title">Cemil Car</h3>
            <ul class="list--basic">
                <li>Gewichtsklasse -83kg</li>
                <li>Squat 205kg</li>
                <li>Bench 130kg</li>
                <li>Deadlift 262,5kg</li>
                <li>Totaal 590kg</li>
            </ul>
            <h4 class="margin-top">Beste prestaties</h4>
            <ul class="list--basic">
                <li>1e plaats SBD Cup 2016</li>
                <li>2de plaats DRC Cup 2015</li>
                <li>3de plaats NK Raw 2015 -74kg klasse</li>
            </ul>
            <p class="margin-top margin-bottom">
                <a class="vertical-aligned" href="https://www.instagram.com/cemilcar/" target="_blank">
                    <i class="fa fa-2x fa-instagram"></i>
                    <span class="margin-left-small">Check Cemil op Instagram</span>
                </a>
            </p>
        </div>
        <img class="flag-left" src="{{ asset('images/atleten/cemil 200.jpg') }}">
    </section>

    <section class="section--center flag-container">
        <div class="flag-left">
            <h3 class="section-title">Luc van der Male</h3>
            <h4 class="section-title">Gecoacht door Tymen</h4>
            <ul class="list--basic">
                <li>Gewichtsklasse -83kg</li>
                <li>Squat 205kg</li>
                <li>Bench 140kg</li>
                <li>Deadlift 257,5kg</li>
                <li>Totaal 597,5kg</li>
            </ul>
            <h4 class="margin-top">Beste prestaties</h4>
            <ul class="list--basic">
                <li>2de plaats NK Raw junioren 2018 -83kg klasse</li>
                <li>6de plaats NK Raw 2018 -83kg klasse</li>
                <li>6de plaats SBD Cup 2017 -83kg klasse</li>
                <li>1ste plaats NK Raw subjunioren 2017 -83kg klasse</li>

            </ul>
            <p class="margin-top margin-bottom">
                <a class="vertical-aligned" href="https://www.instagram.com/luc.vd.male/" target="_blank">
                    <i class="fa fa-2x fa-instagram"></i>
                    <span class="margin-left-small">Check Luc op Instagram</span>
                </a>

            </p>
        </div>
        <img class="flag-left" src="{{ asset('images/atleten/luc.jpg') }}">
    </section>

    <section class="section--center flag-container">
        <div class="flag-left">
            <h3 class="section-title">Aron Muijsenberg</h3>
            <ul class="list--basic">
                <li>Gewichtsklasse -93kg</li>
                <li>Squat 200kg</li>
                <li>Bench 150kg</li>
                <li>Deadlift 255kg</li>
                <li>Totaal 600kg</li>
            </ul>
            <h4 class="margin-top">Beste prestaties</h4>
            <ul class="list--basic">
                <li>8ste plaats DRC Cup 2017 -93kg klasse</li>
                <li>Brigadier in <a href="https://www.weertdegekste.nl/categorie/robuust-blauw/">Robuust Blauw</a>
                </li>
            </ul>
            <p class="margin-top margin-bottom">
                <a class="vertical-aligned" href="https://www.instagram.com/aron_msbrg/" target="_blank">
                    <i class="fa fa-2x fa-instagram"></i>
                    <span class="margin-left-small">Check Aron op Instagram</span>
                </a>
                <!-- goodlift.info -->
                <a class="vertical-aligned" href="http://goodlift.info/lifter.php?lid=8216" target="_blank">
                    <img src="http://goodlift.info/banners/gl_banner_small_bio.png" alt=""
                         style="width:34px;height:40px;border:0;"/>
                    <span class="margin-left-small">Check Aron op Goodlift</span>
                </a>
                <!-- goodlift.info -->
            </p>
        </div>
        <img class="flag-left" src="{{ asset('images/atleten/aron.jpg') }}">
    </section>
{% endblock %}
