<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Strength & Conditioning Center Powerhouse {% endblock %}</title>
    {% block stylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/default.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/default.date.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/hover-min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/font-awesome.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

        <script src="{{ asset('assets/vendor/jquery.js') }}"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
        <script src="{{ asset('assets/vendor/picker.js') }}"></script>
        <script src="{{ asset('assets/vendor/picker.date.js') }}"></script>
        <script src="{{ asset('assets/vendor/nl_NL.js') }}"></script>
        <script src="{{ asset('assets/js/scripts.js') }}"></script>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<nav class="main">
    <a class="logo" href="/">
        <img class="logo--mobile" src="{{ asset('images/logo_small.jpg') }}">
        <img class="logo--desktop" src="{{ asset('images/logo_large.jpg') }}">
    </a>

    <a class="hamburger" href="#">
        <i class="fa fa-2x fa-bars"></i>
    </a>
    <script>
        $('nav .hamburger').on('click', function() {
            $('nav .menu').toggleClass('mobile-show');
        });
    </script>

    <ul class="menu">
        {# Map url to page name #}
        {% set pageMapping = {
            '/': 'Home',
            'atleten': 'Atleten',
            'wedstrijden': 'Wedstrijden',
            'coaching': 'Coaching',
            'tarieven': 'Tarieven',
            'proeftraining': 'Proeftraining',
            'artikelen': 'Artikelen',
            'contact': 'Contact',
        } %}

        {% for key, page in pageMapping %}
            {% if key == '/' %}
                <li>
                    <a class="{% if activePage == key %}active{% endif %} hvr-underline-from-center" href="/">Home</a>
                </li>
            {% else %}
                <li>
                    <a class="{% if activePage == key %}active{% endif %} hvr-underline-from-center" href="/{{ key }}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
<header></header>
<main>
    <div style="text-align: center; padding: 30px; padding-bottom: 0px; color: white;">
        <div style="display: inline-block; padding: 15px; background-color: #951313">
            <h3 style="color: white;">Coronanieuws</h3>
            <p>Vanwege de lockdown zijn wij tijdelijk gesloten</p>
        </div>
    </div>
    {% block content %}{% endblock %}
</main>
<footer>
    <div class="column-container">
        <div class="column">
            <table class="compressed">
                <tr>
                    <td>Maandag tm vrijdag</td>
                    <td>18:30 - 20:30</td>
                </tr>
                <tr>
                    <td>Zaterdag</td>
                    <td>Niet geopend</td>
                </tr>
                <tr>
                    <td>Zondag</td>
                    <td>12:00 - 15:00</td>
                </tr>
            </table>
        </div>
        <div class="column">
            <p>Buteuxstraat 10, 4388 CW Oost-Souburg</p>
        </div>
        <div class="column">
            <a href="https://www.facebook.com/PowerHouseMiddelburg/"><i class="fa fa-2x fa-facebook"></i></a>
            <a href="https://www.instagram.com/sccpowerhouse/"><i class="fa fa-2x fa-instagram"></i></a>
            <a href="mailto:powerhousemiddelburg@gmail.com"><i class="fa fa-2x fa-envelope"></i></a>
        </div>
    </div>
</footer>
</body>
</html>
